{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Medical Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold" href="/">
        💊 Medical Store
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">

        <!-- Left Menu -->
        <ul class="navbar-nav me-auto">

            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "products" %}">Products</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>

        </ul>

        <!-- Search -->
        <form class="d-flex me-3">
            <input class="form-control me-2"
                   type="search"
                   placeholder="Search medicine">
            <button class="btn btn-light" type="submit">
                Search
            </button>
        </form>

        <!-- Right Menu -->
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "cart" %}">
                    🛒 Cart
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "login" %}">
                    Login
                </a>
            </li>

        </ul>

    </div>

  </div>
</nav>

    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>